streamlit
langchain
langchain-community
openai
duckduckgo-search
ctransformers
wikipedia
tiktoken
faiss-cpu
pypdf
langchain-core
langchain>=0.2.0
langchain-openai
langchain-core
langchain_classic
langchain-google-genai
langchain-core
langchain-text-splitters
langchain-classic


